<h6>会員情報編集ページ</h6>

<%= form_with model: @customer, local: true do |f| %>

<div class="form_group row">
    <label for="colFormLabel" class="col-sm-2 col-form-label">名前</label>
    <%= f.label :last_name, '(姓)' %>
    <%= f.text_field :last_name, autocomplete: 'first_name' %>
    <%= f.label :first_name, '(名)' %>
    <%= f.text_field :first_name, autocomplete: 'last_name' %>
  </div>

  <div class="form_group row">
    <label for="colFormLabel" class="col-sm-2 col-form-label">フリガナ</label>
    <%= f.label :last_name_kana, '(セイ)' %>
    <%= f.text_field :last_name_kana, autocomplete: 'first_name_kana' %>
    <%= f.label :first_name_kana, '(メイ)' %>
    <%= f.text_field :first_name_kana, autocomplete: 'last_name_kana' %>
  </div>

  <div class="form-group row">
    <%= f.label :email, 'メールアドレス' %>
    <%= f.email_field :email, autocomplete: "email" %>
  </div>

  <div class="form_group row">
    <%= f.label :postcode, '郵便番号（ハイフンなし)' %>
    <%= f.text_field :postcode, autocomplete: 'postcode' %>
  </div>

  <div class="form_group row">
    <%= f.label :address, '住所' %>
    <%= f.text_field :address, autocomplete: 'address' %>
  </div>

  <div class="form_group row">
    <%= f.label :phone_number, '電話番号(ハイフンなし)' %>
    <%= f.text_field :phone_number, autocomplete: 'phone_number' %>
  </div>

  <%= f.submit '編集内容を保存', class:"btn btn-success" %>

  <% end %>
<%= link_to '変更を保存', customer_path(current_customer) %><br/>
<%= link_to '退会する', customer_path(current_customer), method: :delete %>
